body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: calc(100vh - 50px);
    width: 100%;
}

.directory {
    width: 15%;
    height: 100%;
    background-color: #f4f4f4;
    border-right: 1px solid #ccc;
    position: fixed;
    overflow: auto;
}

.content {
    flex: 1;
	margin-left: 15%;
    padding: 20px;
    overflow: auto;
    background-color: #fff;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a:link {
	color: red;
}

a:visited {
	color: red;
}

a:hover {
	color: green;
}

a:active {
	color: red;
}

