:root {
	--white: #ffffff;
	--black: #000000;

	--ocean1: #013A63; /* white text */
	--ocean2: #014F86; /* white text */
	--ocean3: #2A6F97; /* white text */
	--ocean4: #468FAF; /* black text */
	--ocean5: #89C2D9; /* black text */

	--heading: Helvetica, sans-serif;
	--paragraph: Georgia, serif;
}

body {
    margin: 0;
    font-family: var(--paragraph);
}

p {
	text-indent: 40px;
    font-family: var(--paragraph);
}

p.comment {
	font-style: italic;
}

h1 {
	font-family: var(--heading);
}

h2 {
	font-family: var(--heading);
}

h3 {
	font-family: var(--heading);
}

.container {
    display: flex;
    height: calc(100vh - 50px);
    width: 100%;
}

.directory {
    width: 15%;
    height: 100%;
    border-right: 1px solid var(--black);
    background-color: var(--ocean5);
    position: fixed;
    overflow: auto;
}

.content {
	width: 85%;
	margin-left: 15%;
    padding: 20px;
    border-left: 1px solid var(--black);
    background-color: var(--white);
	position: fixed;
    overflow: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--ocean4);
    border-top: 1px solid var(--black);
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a:link {
	color: red;
}

a:visited {
	color: red;
}

a:hover {
	color: green;
}

a:active {
	color: red;
}

.tree ul {
	display: inline-block;
}

.tree .node {
	cursor: pointer;
	display: block;
	width: 100%;
	padding: 5px 10px;
    border-radius: 8px;
	color: var(--black);
	text-decoration: none;
}

.tree .node:hover {
    background-color: var(--ocean1);
	color: var(--white);
}


