body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: calc(100vh - 50px);
    width: 100%;
}

.directory {
    width: 15%;
    height: 100%;
    border-right: 1px solid #ccc;
    background-color: #f4f4f4;
    position: fixed;
    overflow: auto;
}

.content {
	width: 85%;
	margin-left: 15%;
    padding: 20px;
    border-left: 1px solid #ccc;
    background-color: #fff;
	position: fixed;
    overflow: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a:link {
	color: red;
}

a:visited {
	color: red;
}

a:hover {
	color: green;
}

a:active {
	color: red;
}

.tree ul {

}

.tree .node {
	cursor: pointer;
	display: inline-block;
	padding: 5px 10px;
    border-radius: 8px;
}

.tree .node:hover {
    background-color: blue;
}


