:root {
	--white: #ffffff;
	--black: #000000;

	--ocean1: #013A63; /* white text */
	--ocean2: #014F86; /* white text */
	--ocean3: #2A6F97; /* white text */
	--ocean4: #468FAF; /* black text */
	--ocean5: #89C2D9; /* black text */

	--beautiful: 'Brush Script MT', cursive;
	--heading: Helvetica, sans-serif;
	--paragraph: Georgia, serif;
	
	--h0_size: 3em;
	--h1_size: 2em;
	--h2_size: 1.66em;
	--h3_size: 1.33em;
	--p_size: 1em;
}

body {
    margin: 0;
	font-size: var(--p_size);
    font-family: var(--paragraph);
}

p {
	text-indent: 40px;
	font-size: var(--p_size);
    font-family: var(--paragraph);
}

p.comment {
	font-size: var(--p_size);
	font-style: italic;
}

p.definition {
	font-size: var(--p_size);

}

p.theorem {
	font-size: var(--p_size);

}

p.proposition {
	font-size: var(--p_size);

}

p.proof {
	font-size: var(--p_size);

}

p.footer {
	font-size: 16px;
}

h1.beauty {
	font-family: var(--beautiful);
	font-size: var(--h0_size);
}

h1 {
	font-family: var(--heading);
	font-size: var(--h1_size);
}

h2 {
	font-family: var(--heading);
	font-size: var(--h2_size);
}

h3 {
	font-family: var(--heading);
	font-size: var(--h3_size);
}

aside {
	position: fixed;
    width: 300px;
    height: calc(100% - 75px);
}

.directory {
	width: 100%;
	height: 100%;
    border-right: 1px solid var(--black);
    background-color: var(--ocean5);
    overflow: auto;
}

.main {
	position: fixed;
	margin-left: 300px;
	padding: 20px;
    border-left: 1px solid var(--black);
    background-color: var(--white);
    overflow: auto;
}

@media screen and (max-width: 600px) {
	aside {
		width: 100%;
		height: 310px;
		position: fixed;
	}

	.main {
		margin: 310px 0px 0px 0px;
	}
}

footer {
    padding: 10px;
    background-color: var(--ocean2);
    border-top: 1px solid var(--black);
    height: 54px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer iframe {
	width: 100%;
	height: 100%;
}

a:link {
	color: red;
}

a:visited {
	color: red;
}

a:hover {
	color: green;
}

a:active {
	color: red;
}

.tree {
	width: 100%;
}

.tree .node {
	cursor: pointer;
	display: inline-block;
	padding: 5px 10px;
    border-radius: 8px;
	color: var(--black);
	text-decoration: none;
}

.tree .node:hover {
    background-color: var(--ocean1);
	color: var(--white);
}


