:root {
	--white: #ffffff;
	--black: #000000;

	--ocean1: #013A63; /* white text */
	--ocean2: #014F86; /* white text */
	--ocean3: #2A6F97; /* white text */
	--ocean4: #468FAF; /* black text */
	--ocean5: #89C2D9; /* black text */
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

.content {
	display: flex;
	flex-direction: row;
	min-height: calc(100vh - 50px);
}

.aside {
    width: 300px;
	flex-grow: 0;
	flex-shrink: 0;
}

.main {
	padding: 20px;
	flex: 1;
    border-left: 2px solid var(--black);
    background-color: var(--white);
}

@media screen and (max-width: 600px) {
	.content {
		display: initial;
	}

	.aside {
		width: 100%;
		height: 310px;
	}

	.main {
		border: 0;
	}
}

.directory {
	width: 100%;
	height: 100%;
    background-color: var(--ocean5);
}

footer {
	height: 50px;
	outline: 5px solid var(--ocean2);
}

footer iframe {
	width: 100%;
	height: 100%;
    background-color: var(--ocean2);
}

a:link, a:visited, a:hover, a:active {
	color: red;
}

.tree ul {
	padding-left: 25px;
}

.tree li {
	margin: 5px;
}

.tree .node {
	cursor: pointer;
	display: inline-block;
	padding: 5px 10px;
    border-radius: 8px;
	color: var(--black);
	text-decoration: none;
}

.tree .node:hover {
    background-color: var(--ocean1);
	color: var(--white);
}

/*=====FONTS=====*/
:root {
	--beautiful: 'Brush Script MT', cursive;
	--heading: Helvetica, sans-serif;
	--paragraph: Georgia, serif;
	
	--h0_size: 3em;
	--h1_size: 2em;
	--h2_size: 1.66em;
	--h3_size: 1.33em;
	--p_size: 1em;
}

p {
	text-indent: 40px;
	font-size: var(--p_size);
    font-family: var(--paragraph);
}

p.comment {
	font-size: var(--p_size);
	font-style: italic;
}

p.definition {
	font-size: var(--p_size);

}

p.theorem {
	font-size: var(--p_size);

}

p.proposition {
	font-size: var(--p_size);

}

p.proof {
	font-size: var(--p_size);

}

p.footer {
	font-size: 16px;
}

h1.beauty {
	font-family: var(--beautiful);
	font-size: var(--h0_size);
}

h1 {
	font-family: var(--heading);
	font-size: var(--h1_size);
}

h2 {
	font-family: var(--heading);
	font-size: var(--h2_size);
}

h3 {
	font-family: var(--heading);
	font-size: var(--h3_size);
}

