body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: calc(100vh - 50px);
    width: 100%;
}

/* Directory Tree */
.directory {
    width: 30%;
    height: 100%;
    background-color: #f4f4f4;
    border-right: 1px solid #ccc;
    padding: 0;
    overflow: hidden;
}

.directory iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.content {
    flex: 1;
    padding: 20px;
    overflow: auto;
    background-color: #fff;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

