* {
	padding: 0;
	margin: 0;
	border: 0;
}

.content {
	display: flex;
	flex-direction: row;
}

.aside {
	width: 300px;
	flex-grow: 0;
	flex-shrink: 0;
	color: blue;
}

.main {
	color: red;
}

.directory {
	width: 100%;
	height: 100%;
}

footer {

}

